# Virtual Environment
.venv/
venv/
ENV/
env/
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/
Downloads/
analyses_storage/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Notebook checkpoint
.ipynb_checkpoints 